.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.input {
    width: 90%;
    padding: 14px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-size: 15px;
    transition: .2s;

    &:focus {
        outline: none;
        border-color: #4f46e5;
        box-shadow: 0 0 0 3px rgba(79, 70, 229, .15);
    }
}

.button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 10px;
    background: #525158;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: #3f3e44;
    }

    &:active {
        transform: scale(.98);
    }
}