.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #cccccc, #7b7caa);
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: rgb(218, 218, 231);
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.login-card h1 {
  margin: -10px 0 10px 0;
  text-align: center;
  font-size: 28px;
  color: #222;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 12px 14px;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

.register-text {
  margin-top: 22px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.register-text a {
  color: #381919;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}